

.example {
    color: white;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .example {background: red;}
    .small {
        opacity: 1; /* just show on small. */
        
      }
      .medium {opacity: 1;}
      .large {opacity: 1;}
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px){
    .example {background: green;}
    .small {opacity: 1;}
    .medium {opacity: 1;} /* just show on Medium. */
    .large {opacity: 1;}
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      .one {
        grid-column: 1 / 2;
        grid-row: 1;
      }
      .two {
        grid-column: 2 / 2 ;
        grid-row: 1  ;
      }
      .tree {
        grid-column: 2;
        grid-row: 0;
        margin-right: 30%;
        margin-left: -69%;
      }
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example {background: blue;}
    .small {opacity: 1;}
      .medium {opacity: 1;}
      .large {opacity: 1;}/* just show on Large. */
      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      .one {
        grid-column: 1 / 2;
        grid-row: 1;
      }
      .two {
        grid-column: 2 / 3 ;
        grid-row: 1  ;
      }
      .tree {
        grid-column: 3/3;
        grid-row: 1;
        margin-right: 3%;
        margin-left: 3%;
      }
  } 

  
  
  /* Large devices (laptops/desktops, 992px and up)
  @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  } */ 

  h2{
      text-align: center;
  }
  p{
      margin-left: 5%;
      margin-right: 5%;
  }

  